pkgbase = dma
	pkgdesc = DragonFly BSD mail transport agent
	pkgver = 0.7
	pkgrel = 1
	url = https://gitorious.org/dma
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = ed
	depends = openssl
	backup = etc/dma/auth.conf
	backup = etc/dma/dma.conf
	source = https://github.com/corecode/dma/tarball/v0.7
	sha256sums = 56a84a2a00b89f1abe6761657036a553aa9f1e9b0826abbace13609aea545e50

pkgname = dma

