pkgbase = dma
	pkgdesc = DragonFly BSD mail transport agent
	pkgver = 0.8
	pkgrel = 1
	url = https://gitorious.org/dma
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = ed
	depends = openssl
	backup = etc/dma/auth.conf
	backup = etc/dma/dma.conf
	source = https://github.com/corecode/dma/tarball/v0.8
	sha256sums = 65a81373f6803a29b2939f0383431fdcba247ba15e337464a79d88635416b810

pkgname = dma

