#!/usr/bin/make -f
# -*- makefile -*-
# Debian build rules for dma, the DragonFly mail agent

include /usr/share/quilt/quilt.make

PACKAGE=	dma
VERSION = `sed -e 's/^[^ ]\+ (\([^)]\+\)).*/\1/; 1q' debian/changelog`
VERSION_UP = `sed -e 's/^[^ ]\+ (0\.0\.\([^)-]\+\).*/\1/; 1q' debian/changelog | tr . -`
VERSION_ADD ?= -debian-01

ifneq (,$(filter werror,$(DEB_BUILD_OPTIONS)))
	CFLAGS+=	-Werror
endif
ifneq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	export STRIPFLAG=
endif

export CFLAGS

diffsrc:
	-diff -urN -x .svn debian/ ../svn/${PACKAGE}/tags/${PACKAGE}-${VERSION}${VERSION_ADD}/
	-diff -urN -x .svn -x debian -x .pc -I'\$$Ringlet.*\$$' ./ ../svn/${PACKAGE}/tags/${PACKAGE}-dfly-${VERSION_UP}/

build: build-stamp
build-stamp: ${QUILT_STAMPFN}
	dh build --before auto_build
	pmake
	dh build --after auto_build
	touch $@

clean: 
	dh clean --before auto_clean
	pmake clean
	dh clean --after auto_clean --before dh_clean
	$(MAKE) -f debian/rules unpatch
	dh clean --remaining

install: build
	dh install --before auto_install
	pmake DESTDIR=$(CURDIR)/debian/$(PACKAGE) BINDIR=/usr/sbin install
	install -d -o root -g mail -m 770 $(CURDIR)/debian/$(PACKAGE)/var/spool/dma
	dh install --after auto_install --before fixperms
	dh_fixperms -Xusr/sbin/dma -Xvar/spool/dma
	dh install --after fixperms

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
